<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- اضافه کردن مجوز اینترنت -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application 
        android:label="100 آیه کاربردی" 
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        android:icon="@drawable/my_icon"
        android:roundIcon="@drawable/my_icon">
        android:usesCleartextTraffic="true"> 
        <!-- صفحه داشبورد (صفحه اول جدید) -->
        <activity android:name=".DashboardActivity"
           android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- صفحه آیات (MainActivity) -->
        <activity android:name=".MainActivity"
           android:exported="false">
        </activity>

    </application>
</manifest>
